/*Type Selector*/
/*tag-name*/
h1 {
	/*!important is the highest priority of styling, overriding inline styling*/
	color: #788BFF !important;
}

/*Universal Selector*/
/*star sign means all*/
* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/* ctrl + forward slash - shortcut for comments */

/*ID Selector*/
/*#id-name*/
#zuitt-motto {
	letter-spacing: 5px;
}

/*Class Selector*/
/*.class-name*/
.offering-item {
	text-transform: uppercase;
}

/*Adjacent Sibling Selector - element before that specific element*/
/*selector + selector - the second selector is the element you are trying to change*/
h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*
#zuitt-motto + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
} */

/*Descendant Selector*/
/*selector selector*/
#bootcamp-learning-list li {
	color: #075966;
}

/*
ol li {
	color: #075966;
}
*/

/*General Sibling Selector 
- as long as they are on the same level/share the same parent, the element will be changed
whereas adjacent siblings have to immediately follow each other*/
/* selector ~ selector */
h2 ~ a {
	text-decoration: none;
}

.modules {
	letter-spacing: 3px;
}